.dashboardSection {
    width: 100%;
	height: 850px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.dashboardContentSection {
    width: 84%;
}

.userDataSection {
    width: 100%;
    height: calc(100% - 75px);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.greetingsCard{
    height: 170px;
    width: 530px;
    padding: 5px;
    border-radius: 30px;
    display: flex;
    flex-flow: wrap column;
    justify-content: center;
    box-sizing: border-box;
    backdrop-filter: blur(10px);
    background-color: #ffffff;
    box-shadow: 5px 5px 25px #10101042;
}

.greetingText{
    margin: 0px 0px 0px 30px;
    text-align: left;
    font-family: poppins;
    font-weight: 500;
    font-size: 35px;
}

.signInSection {
    height: 475px;
    width: 450px;
    display: flex;
    padding: 40px;
    margin-top: 10px;
    border-radius: 30px;
    flex-flow: column;
    background-color: #ffffff;
    backdrop-filter: blur(10px);
    box-shadow: 5px 5px 25px #10101042;
}

.signInCardLabel {
    font-size: 35px;
    font-weight: 500;
    text-align: center;
    margin: 0px 0px 10px 0px;
}

.signInForm {
    display: flex;
    flex-flow: column;
    align-items: center;
    margin-top: 20px;
    margin-left: -2.5px;
}

.signInForm p {
    margin: 10px 0px 5px 0px;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-content: center;
}

.signInForm input {
    background-color: var(--picton-blue);
    box-sizing: border-box;
    padding: 0px 25px 0px 25px;
    border: none;
    border-color: black;
    border-radius: 15px;
    height: 50px;
    width: 400px;
}

label{
    color: #353a3a;
    font-size: 17.5px;
    font-weight: normal;
    font-weight: 500;
    margin: 0px 0px 5px 10px;
}

.saveButton {
    background-color: var(--moonstone);
    color: rgb(255, 255, 255);
    height: 50px;
    width: 300px;
    font-family: poppins;
    font-weight: 500;
    font-size: 30px;
    border-radius: 25px;
    border: none;
    transition: background-color 0.3s ease;
    margin: 30px 0px 0px 0px;
}

.saveButton:hover {
    background-color: var(--cerulean);
    cursor: pointer;
}

#login {
    margin-top: 10px;
    text-align: center;
}

.savedDataHolder {
    min-height: 735px;
    max-height: 735px;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    align-items: center;
    background-color: var(--gunmetal);
    box-shadow: 5px 5px 25px #10101042;
    border-radius: 35px;
}

.savedDataSection {
    width: 100%;
    min-height: 635px;
    max-height: 635px;
    padding: 25px;
    border-radius: 35px;
    display: flex;
    flex-flow: column;
    justify-content: start;
    align-items: center;
    box-sizing: border-box;
    background-color: rgb(246, 253, 255);
    overflow-y: auto;
    overflow-x: hidden;
}

.savedDataSection h3 {
    font-size: 30px;
    font-weight: 400;
    text-align: center;
}

.savedDataLabel{
    width: 750px;
    height: 50px;
    box-sizing: border-box;
    text-align: center;
    margin-top: 15px;
    padding: 10px;
    border-radius: 20px;
}

.savedDataLabel h1{
    font-size: 35px;
    color: white;
    font-weight: 500;
}

.savedEntry {
    height: 50px;
    width: 650px;
    margin: 10px;
    padding: 25px;
    border-radius: 25px;
    overflow: hidden;
    transition: height 0.3s ease;
    background-color: #d2edff;
}

.savedEntry:hover {
    padding: 25px;
    cursor: pointer;
}

.savedEntry.expanded {
    padding: 25px 25px 5px 25px;
    height: 150px;
}

.copyButton {
    width: 150px;
    height: 30px;
    border: 1px;
    margin: 5px 0 5px 10px;
    border-radius: 10px;
    transition: all 0.3s ease-out;
    background-color: #c1c9c9;
}

.copyButton:hover {
    background-color: #8a9eac;
}

.deleteButton {
    width: 150px;
    height: 30px;
    border: 1px;
    margin: 5px 0 5px 10px;
    border-radius: 10px;
    transition: all 0.3s ease-out;
    background-color: #ff9f8e;
}

.deleteButton:hover {
    background-color: #ff5e1e;
}

.savedEntry .label{
    font-size: 20px;
    font-weight: 600;
}

.savedEntry .labelValue {
    font-size: 17.5px;
}

.details {
    margin: 25px;
}

.detailSection {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.dropButtonSection {
    width: 45%;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}