.md_navBar {
    left: 0px;
    position: fixed;
    width: 350px;
    height: 100vh;
    background-color: #253237ff;
    z-index: 1;
}

.md_primaryScreen {
    width: calc(100% - 350px);
    height: 100vh;
    overflow-y: scroll;
    position:fixed;
    top: 0px;
    right: 0px;
    padding-left: 350px;
    z-index: 0;
    background-color: var(--colorSeven);
}